<ion-header>

  <ion-navbar>
    <ion-title>Add Note</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="saveNote(f.value)" #f="ngForm">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input name="title" ngModel></ion-input>
    </ion-item>
    <button ion-button type="submit">Save Note</button>
  </form>
</ion-content>
